* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.section {
  /* background-color: red; */
}

.container {
  /* background-color: green; */
  --variableName: 24px;
  max-width: calc(1200px + 2 * var(--variableName));
  margin-inline: auto;
  padding-inline: var(--variableName);
}

.wrapper {
  /* background-color: blue; */
}

.nav .wrapper {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  padding-block: 12px;
}
.nav__menuWapper {
  display: flex;
  gap: 24px;
  align-items: baseline;
}

.nav {
  background-color: rgb(235, 235, 235);
  color: rgb(0, 0, 0);
  container-type: inline-size;
  container-name: nav;
  font-size: smaller;
  font-family: notosans;
}
.nav .lt680px {
  display: none;
}
@container nav (width < 42.5rem) {
  .nav__menuWapper {
    display: none;
  }
  .nav .lt680px {
    display: unset;
  }
}

.main__media {
  overflow: hidden;
}
.main__media img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

#hero1 .topnav__logoimg .search__img {
  overflow: hidden;
}
#hero1 .topnav__logoimg .search__img img {
  width: 100%;
  height: 100%;
}
#hero1 .topnav__logoimg .main__media {
  aspect-ratio: 6/6;
  width: 50px;
  background-color: rgb(209, 233, 255);
}

#hero2 .wrapper {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  gap: 24px;
}
#hero2 .wrapper > * {
  flex: 1;
}
#hero2 .main__media {
  aspect-ratio: 5/5;
  border-radius: 70%;
  background-color: rgb(217, 217, 217);
}
#hero2 .wrapper {
  margin-top: 30px;
  margin-left: 30px;
}
#hero2 .main__text {
  margin: 36px;
}
#hero2 .main__text__buttonWrapper {
  margin-inline: auto;
  flex-direction: column;
  align-items: center;
  gap: 0;
}

.footer {
  font-size: 14px;
  background-color: rgb(229, 229, 229);
  color: black;
  container-type: inline-size;
  container-name: footer;
}
.footer .column {
  margin-top: 30px;
  font-size: 10px;
}
.footer a {
  text-decoration: none;
  color: rgb(0, 0, 0);
}
.footer li {
  list-style: none;
}
.footer svg {
  fill: white;
}
.footer .wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  gap: 50px;
}
.footer h2 {
  font-size: 14px;
  margin-bottom: 20px;
}
.footer li {
  margin-bottom: 0.5rem;
}
.footer__logo {
  margin-bottom: 12px;
}
.footer__extlinkwrap {
  display: flex;
  gap: 0.5rem;
  align-items: center;
  margin-bottom: 0.5rem;
}
@container footer (width < 44.375rem) {
  .footer .column:first-of-type {
    grid-row: 1/span 2;
  }
  .footer .wrapper {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

.gnb-menu-clearFix {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  margin-top: 10px;
}
.gnb-menu-clearFix a {
  text-decoration: none;
  color: black;
}
.gnb-menu-clearFix li {
  list-style: none;
}

.business-mall-landing {
  margin-top: 10px;
}

.coupang-global {
  margin-top: 5px;
}

.rocket-fresh {
  margin-top: 5px;
}

.heart-teddy {
  margin-top: 5px;
}

.goldbox {
  margin-top: 10px;
  padding-right: 10px;
}

.subscription {
  margin-top: 1px;
  padding-left: 10px;
}

.gnb-coupangbenefit {
  margin-top: 8px;
  padding-left: 10px;
}

.sustainable-market {
  margin-top: 12px;
}

.travel {
  margin-top: 8px;
  padding-right: 5px;
}